.taskContainer {
  border: 2px solid rgb(65, 148, 230);
  background-color: white;
  border-radius: 10px;
}

.iconCircleCheck {
  font-size: 20px;
  color: green;
  cursor: pointer;
}

.iconCircleDashed {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.iconEdit {
  font-size: 20px;
  color: blue;
  cursor: pointer;
}

.iconTrash {
  font-size: 20px;
  color: red;
  cursor: pointer;
}
